.barra {
  background-color: #55a8f5;
  height: 50px;
}
.encabezado {
  background-color: wheat;
  height: 300px;
  display: grid;
  grid-template-areas:
    "isotipo"
    "nombre";
  justify-content: center;
  align-content: space-evenly;
}

.isotipo {
  display: grid;
  grid-area: isotipo;
  background-color: #dddddd;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.nombre {
  display: grid;
  grid-area: nombre;
  background-color: #dddddd;
  width: 200px;
  height: 50px;
  text-align: center;
  align-items: center;
}
.slidershow {
  background-color: #71be4a;
  height: 300px;
}

.contacto {
  background-color: wheat;
  height: 500px;
  display: grid;
  grid-template-areas:
    "conttitulo conttitulo"
    "formulario mapa";
  justify-content: center;
  align-content: space-evenly;
  grid-gap: 2%;
}

.conttitulo {
  grid-area: conttitulo;
  background-color: #dddddd;
  width: 500px;
  height: 50px;
  margin: auto;
}

.formulario {
  grid-area: formulario;
  background-color: #dddddd;
  width: 400px;
  height: 400px;
  margin: auto;
}

.mapa {
  grid-area: mapa;
  background-color: #dddddd;
  width: 400px;
  height: 400px;
  margin: auto;
}

.articulos {
  background-color: #b46cdc;
  height: 400px;
  display: grid;
  grid-template-areas: "art1 art2 art3";
  justify-content: center;
  grid-gap: 2%;
}

.art1 {
  background-color: #ffffff;
  height: 300px;
  width: 200px;
  grid-area: art1;
  margin: auto;
  display: grid;
}

.art2 {
  background-color: #ffffff;
  height: 300px;
  width: 200px;
  grid-area: art2;
  margin: auto;
  display: grid;
}

.art3 {
  background-color: #ffffff;
  height: 300px;
  width: 200px;
  grid-area: art3;
  margin: auto;
  display: grid;
}

.art-titulo {
  background-color: #dddddd;
  width: 150px;
  height: 30px;
  margin: auto;
}

.art-texto {
  background-color: #dddddd;
  width: 150px;
  height: 150px;
  margin: auto;
}

.editorial {
  background-color: wheat;
  height: 500px;
  display: grid;
  grid-template-areas: "ed-titulo" "ed-texto";
}

.ed-titulo {
  grid-area: ed-titulo;
  background-color: #dddddd;
  width: 300px;
  height: 50px;
  margin: auto;
}

.ed-texto {
  grid-area: ed-texto;
  background-color: #dddddd;
  width: 500px;
  height: 300px;
  margin: auto;
}

.varios {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.var1 {
  display: grid;
  width: 49.5%;
  height: 500px;
  background-color: #f58e27;
}
.var2 {
  display: grid;
  width: 49.5%;
  height: 500px;
  background-color: #dd6a22;
}

.var-titulo {
  background-color: #ffffff;
  width: 300px;
  height: 30px;
  margin: auto;
}

.var-texto {
  background-color: #ffffff;
  width: 400px;
  height: 300px;
  margin: auto;
}

footer {
  background-color: #55a8f5;
  height: 50px;
}
